.container{
  display: flex;
  align-items: center;

  padding: .75rem;
  width: 100%;
  height: 100%;

  .login{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 1rem;

    mat-form-field{
      width: 60%;
    }

    .login-button{
      align-self: center;
      text-align: center;
      width: 40%;
      padding: .5rem;

      border: none;
      border-radius: .25rem;
      outline: none;
      background-color: #2D9CDB;
      color: #fff;
    }

    span{
      position: relative;
      top: -10px;
      left: -80px;
      color: rgb(247, 51, 51);
      margin-left: 0 auto;
    }

  }

  .advFox{
    padding:3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 1rem;
    text-align: center;

    img{
      width: 90%;
    }

    h2{
      margin-top: .5rem;
    }
  }

}
